.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    z-index: 100;
}

.Button {
    padding: 20px 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    transition: all 0.2s ease;
}

.Button:hover {
    background: #fff;
    color: #000;
}